<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkknown.ilearning">
    <!-- 上网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/linkknown"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CourseSearchActivity"></activity>
        <!-- activity 页面配置汇总 -->
        <activity android:name=".activity.UserDetailActivity" />
        <activity android:name=".activity.CouponCenterActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.NewChannelActivity" />
        <activity android:name=".activity.TeacherZhaoPingActivity" />
        <activity android:name=".activity.IFavoritesActivity" />
        <activity
            android:name=".activity.CourseClassifyActivity"
            android:label="@string/title_activity_show_types"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegistActivity"
            android:label="@string/title_activity_regist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.VideoPlayActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CourseDetailActivity"
            android:label="@string/title_activity_course_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CourseListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" /> <!-- receiver 广播配置汇总 -->
        <receiver android:name=".broadcast.UnAuthorizedLoginReceiver">
            <intent-filter>
                <action android:name="com.linkknown.ilearning.broadcast.UnAuthorizedLogin" />
            </intent-filter>
        </receiver>
    </application>

</manifest>