<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>IWork -【低代码开发平台】</title>
    <link href=/static/css/app.74d7718307441a4c932017e2f4035804.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.e027dff74f49bbcb6130.js></script>
<script type=text/javascript src=/static/js/vendor.5cc999a951a9deaf884c.js></script>
<script type=text/javascript src=/static/js/app.ac8d1cdb6835b477d0cd.js></script>
</body>
</html>