<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>IWork -【低代码开发平台】</title>
    <link href=/static/iwork/css/app.d7ab1c8eaa5e9ead619fd46baa7d7614.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/iwork/js/manifest.fd53a7347caabb30e63d.js></script>
<script type=text/javascript src=/static/iwork/js/vendor.5cc999a951a9deaf884c.js></script>
<script type=text/javascript src=/static/iwork/js/app.ac8d1cdb6835b477d0cd.js></script>
</body>
</html>