<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>IWork -【低代码开发平台】</title>
    <link href=/static/isoft_iwork/css/app.b0e8483ef31fae73d166d85405f6612d.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/isoft_iwork/js/manifest.1bf2b9c8a2840de67cc1.js></script>
<script type=text/javascript src=/static/isoft_iwork/js/vendor.5cc999a951a9deaf884c.js></script>
<script type=text/javascript src=/static/isoft_iwork/js/app.5cc665ed664e7f886544.js></script>
</body>
</html>