/* 清除浮动只需要添加 class=clear 即可 */
.clear::after {
  content: "";
  clear: both;
  display: block;
}

.isoft_bordertop_red {
  border-top: 3px solid rgba(255, 0, 0, 0.2);
}

.isoft_top10 {
  margin-top: 10px;
}

.isoft_top5 {
  margin-top: 5px;
}

.isoft_pd5 {
  padding: 10px;
}

.isoft_pd10 {
  padding: 10px;
}

.isoft_border_bottom {
  border-bottom: 1px solid #dfdfdf;
}

.isoft_pd20 {
  padding: 20px;
}

.isoft_mg10 {
  margin: 10px;
}

.isoft_mr10 {
  margin-right: 10px;
}

.isoft_title {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  font-family: "微软雅黑";
}

.isoft_title::after {
  content: "";
  display: block;
  height: 3px;
  border-bottom: 3px solid red;
}

.isoft_word_break {
  word-wrap: break-word;
}

.isoft_auto_with {
  display: inline-block;
}

.isoft_bgcolor {
  background: #eee;
}

.isoft_bg_white {
  background: #FFFFFF;
}

.isoft_bg_black {
  background: #212121;
}

.isoft_bold {
  font-weight: bold;
}

.isoft_font {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.isoft_text_rows {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.isoft_inline_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.isoft_font12 {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.isoft_font14 {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.isoft_font16 {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.isoft_font_white {
  color: #fff;
}

.isoft_point_cursor {
  cursor: pointer;
}

.isoft_hover_red:hover {
  cursor: pointer;
  color: red;
}

.isoft_hover_red2 {
  color: #000;
}

.isoft_hover_red2:hover {
  cursor: pointer;
  color: red;
}

.mr5 {
  margin-right: 5px;
}

.hoverBorderShadow {
  border: 1px solid #E5E5E5;
}

.hoverBorderShadow:hover {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
  border-color: rgba(229, 229, 229, .73);
}

/*
  线性渐变背景色
  在.box:hover中加入这行代码的意义是用于当鼠标移动上去时所产生的渐变效果,在.box中加入这行代码的意义是用于当鼠标移开时所产生的渐变效果,
  如果有一方不加,则会导致不加的那一方在进行样式变化的时候不会产生渐变的效果
*/
.linearTransitionBg {
  width: 500px;
  height: 30px;
  background-color: yellow;
  transition: all 5s ease;
}

.linearTransitionBg:hover {
  width: 100%;
  transition: all 5s ease;
}

/**
  水平 border-bottom 颜色渐变
 */
.linearTransitionBox {
  cursor: pointer;
  display: inline-block;
}

.linearTransitionBorderBottom::after {
  content: '';
  position: relative;
  bottom: 0;
  border-top: 2px solid #ff6900;
  display: block;
  margin: 0 auto;
  transition: all 120ms ease-in-out;
  width: 0;
}

.linearTransitionBorderBottom:hover::after {
  content: '';
  position: relative;
  bottom: 0;
  border-top: 2px solid #ff6900;
  display: block;
  margin: 0 auto;
  transition: all 120ms ease-in-out;
  width: 100%;
}

.isoft_loading {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 5px rgba(33, 235, 9, 0.15) solid;
  border-right-color: #03eb00;
  animation: isoft_loading 1s linear infinite;
}

@keyframes isoft_loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 文字超过三行显示省略号 */
.isoft_p3line {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.isoft_p5line {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.isoft_p1line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* hover 显示元素 */
.isoft_hover_parent:hover .isoft_hover_item_show {
  display: block;
}

.isoft_hover_item_show {
  display: none;
}

.isoft_info_tip {
  text-align: center;
  background-color: #eee;
  padding: 5px 10px;
}

.isoft_info_tip2 {
  text-align: center;
  background-color: rgba(255, 222, 211, 0.5);
  padding: 5px 10px;
}

.isoft_info_tip3 {
  background: #fff7eb;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}


.fadeToLeft {
  position: relative;
  animation: fadeToLeft_dh 0.2s infinite;
  animation-iteration-count: 1;
}

@keyframes fadeToLeft_dh {
  0% {
    right: -50px;
  }
  50% {
    right: -25px;
  }
  100% {
    right: 0;
  }
}

.fadeToRight {
  position: relative;
  animation: fadeToRight_dh 0.2s infinite;
  animation-iteration-count: 1;
}

@keyframes fadeToRight_dh {
  0% {
    right: 50px;
  }
  50% {
    right: 25px;
  }
  100% {
    right: 0;
  }
}

.fadeToTop {
  position: relative;
  animation: fadeToTop_dh 0.2s infinite;
  animation-iteration-count: 1;
}

@keyframes fadeToTop_dh {
  0% {
    top: 50px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0;
  }
}

.fadeToBottom {
  position: relative;
  animation: fadeToBottom_dh 0.2s infinite;
  animation-iteration-count: 1;
}

@keyframes fadeToBottom_dh {
  0% {
    top: -50px;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 0;
  }
}

.isoft_font_header {
  margin: 0 10px 10px 10px;
  position: relative;
  height: 40px;
  color: #111;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  white-space: nowrap;
}

.isoft_hover_bottom:hover {
  border-bottom: 2px solid red;
}

.isoft_button_blue {
  height: 40px;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  background: #3f89ec;
  border: 0;
  text-align: center;
}

.isoft_border_radius5 {
  border-radius: 5px;
}

.isoft_button_red1 {
  height: 40px;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  background: #ff5c00;
  border: 0;
  text-align: center;
}

.isoft_button_red2 {
  display: inline-block;
  width: 178px;
  background-color: #ffeded;
  border: 1px solid #FF0036;
  color: #FF0036;
  font-family: 'Microsoft Yahei';
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
}

.isoft_button_red3 {
  height: 40px;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  background: #ff5c00;
  border: 0;
  text-align: center;
}

.isoft_button_red3:hover {
  background: #f01414;
}

.isoft_button_red_small {
  display: inline-block;
  padding: 0 10px;
  background-color: #ff6900;
  color: white;
  font-family: 'Microsoft Yahei';
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.isoft_button_red_small:hover {
  background-color: #E55E00;
}

.isoft_button_green1 {
  height: 40px;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  background: #00c2b3;
  border: 0;
  text-align: center;
}

.isoft_hover_top10:hover {
  position: relative;
  top: -10px;
}

.isoft_hover_top5:hover {
  position: relative;
  top: -5px;
}

.isoft_color_red {
  color: red;
}

.isoft_color_grey {
  color: #818181;
}

.isoft_color_grey2 {
  color: #919191;
}

.isoft_color_grey3 {
  color: #9c9c9c;
}

.isoft_color_green1 {
  color: #00c2b3;
}

.isoft_hover_color_green {
  color: #00b500;
}

.isoft_hover_color_green:hover {
  color: #007a00;
}

.isoft_hover_color_blue {
  color: #155faa;
}

.isoft_hover_color_blue:hover {
  color: #6cb0ca;
}

.isoft_tag1 {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333;
  text-align: center;
  padding: 0 5px;
  font-weight: 100;
}

.isoft_tag2 {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  text-align: center;
  padding: 0 5px;
  font-weight: 100;
}

.isoft_tag3 {
  cursor: pointer;
  font-size: 12px;
  background: #f3f5f7;
  line-height: 20px;
  color: #f01414;
  padding: 4px 8px;
  margin-right: 8px;
  display: inline-block;
}

.isoft_tag4 {
  font-size: 12px;
  font-family: "微软雅黑";
  padding: 2px 8px;
  background: #e9ccab;
  color: #fff;
  margin-right: 8px;
  display: inline-block;
}

.isoft_tag5 {
  font-size: 12px;
  font-family: "微软雅黑";
  padding: 2px 8px;
  background: #e9987f;
  color: #fff;
  margin-right: 8px;
  display: inline-block;
}

.hoverItemClass:hover {
  position: relative;
  animation: hoverItemAnimation 0.5s infinite;
  animation-iteration-count: 1;
  overflow-x:hidden;      /* 不出现滚动条 */
}

@keyframes hoverItemAnimation {
  0%   {left: -20px;background-color: rgba(255, 0, 0, 0.08);}
  100% {left: 0;}
}

.isoft_free {
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  padding: 0 15px;
}

.isoft_shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 1024;
}
